<div class="min-h-screen flex flex-col">

  <main class="flex-grow relative">
    <app-header></app-header>
    <div class="absolute inset-0 bg-gradient-to-r from-blue-50 to-gray-50">
      <div class="absolute inset-0 flex items-center justify-center">
        <div style="width: 480px; height: 100%; background-image: url('/unud.png'); background-position: center; background-repeat: no-repeat; background-size: contain; opacity: 0.05;"></div>
      </div>
    </div>

    <div class="relative z-10">
      <router-outlet></router-outlet>
    </div>
  </main>

  <app-footer></app-footer>
</div>
